<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<script src="charts.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
	</head>
	<body>
		<h1>COVID-19 Trends COUNTRY</h1>
		<div>
			<canvas id="daily-canvas" width="1600" height="800"></canvas>
			<input type="hidden" id="daily-cases" value="CASES_DAILY_VALUES">
			<input type="hidden" id="daily-deaths" value="DEATHS_DAILY_VALUES">
			<input type="hidden" id="daily-labels" value="LABELS_DAILY">
		</div>
		<div>
			<canvas id="cumul-canvas" width="1600" height="800"></canvas>
			<input type="hidden" id="cumul-cases" value="CASES_CUMUL_VALUES">
			<input type="hidden" id="cumul-deaths" value="DEATHS_CUMUL_VALUES">
			<input type="hidden" id="cumul-labels" value="LABELS_CUMUL">
		</div>
		<script>
			generateCharts()
		</script>
	</body>
</html>
