<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
	</head>
	<body>
		<h1>COVID-19 Trends COUNTRY</h1>
		<canvas id="canvas-daily" width="1600" height="800"></canvas>
		<canvas id="canvas-cumul" width="1600" height="800"></canvas>
		<script>

		var ctx_daily = document.getElementById('canvas-daily').getContext('2d');
		var canvas_daily = new Chart(ctx_daily, {
			type: 'bar',
			data: {
				labels: [ LABELS ],
				datasets: [
					{
						label: 'Number of cases',
						data: [ CASES_DAILY ],
						backgroundColor: 'rgba(54, 162, 235, 0.2)',
						borderColor: 'rgba(54, 162, 235, 1)',
						borderWidth: 1,
					},
					{
						label: 'Number of deaths',
						data: [ DEATHS_DAILY ],
						backgroundColor: 'rgba(235, 54, 54, 0.2)',
						borderColor: 'rgba(235, 54, 54, 1)',
						borderWidth: 1,
					},
					{
						label: 'Cases trend (DAYS days)',
						data: [ CASES_TREND ],
						backgroundColor: 'rgba(54, 162, 255, 0.2)',
						borderColor: 'rgba(54, 162, 255, 1)',
						type: 'line',
					},
					{
						label: 'Deaths trend (DAYS days)',
						data: [ DEATHS_TREND ],
						backgroundColor: 'rgba(255, 54, 54, 0.2)',
						borderColor: 'rgba(255, 54, 54, 1)',
						type: 'line',
					},
				],
			},
			options: {
				title: {
					display: true,
					text: 'Daily View',
				},
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true,
						},
					}],
				},
			},
		});

		var ctx_cumul = document.getElementById('canvas-cumul').getContext('2d');
		var canvas_cumul = new Chart(ctx_cumul, {
			type: 'bar',
			data: {
				labels: [ LABELS ],
				datasets: [
					{
						label: 'Number of cases',
						data: [ CASES_CUMUL ],
						backgroundColor: 'rgba(54, 162, 235, 0.2)',
						borderColor: 'rgba(54, 162, 235, 1)',
						borderWidth: 1,
					},
					{
						label: 'Number of deaths',
						data: [ DEATHS_CUMUL ],
						backgroundColor: 'rgba(235, 54, 54, 0.2)',
						borderColor: 'rgba(235, 54, 54, 1)',
						borderWidth: 1,
			
					},
					{
						label: 'Cases trend (DAYS days)',
						data: [ CASES_TREND ],
						backgroundColor: 'rgba(54, 162, 255, 0.2)',
						borderColor: 'rgba(54, 162, 255, 1)',
						type: 'line',
					},
					{
						label: 'Deaths trend (DAYS days)',
						data: [ DEATHS_TREND ],
						backgroundColor: 'rgba(255, 54, 54, 0.2)',
						borderColor: 'rgba(255, 54, 54, 1)',
						type: 'line',
					},
				],
			},
			options: {
				title: {
					display: true,
					text: 'Cumulative View',
				},
				scales: {
					yAxes: [{
						type: 'logarithmic',
						ticks: {
							beginAtZero: true,
						},
					}],
				},
			},
		});

		</script>
	</body>
</html>
