<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<style>
div.cell {
  width: 200px;
  max-width: 11%;
  display: table-cell;
}
		</style>
	</head>
	<body>
		<h1>COVID-19 Geographic Distribution Worldwide</h1>
		<div id="info">
			Source: <a href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide">https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide</a></br>
			Code source: <a href="https://github.com/quarantin/covid19">https://github.com/quarantin/covid19</a></br>
			Updated: <b>UPDATED</b>
		</div><!-- div#info -->
		<div id="content">
			<h2>Countries</h2>
			<div style="display: table-row">
				<div class="cell">
					<h3>A</h3>
					<a href="af.html">Afghanistan</a><br>
					<a href="al.html">Albania</a><br>
					<a href="dz.html">Algeria</a><br>
					<a href="ad.html">Andorra</a><br>
					<a href="ao.html">Angola</a><br>
					<a href="ai.html">Anguilla</a><br>
					<a href="ag.html">Antigua and Barbuda</a><br>
					<a href="ar.html">Argentina</a><br>
					<a href="am.html">Armenia</a><br>
					<a href="aw.html">Aruba</a><br>
					<a href="au.html">Australia</a><br>
					<a href="at.html">Austria</a><br>
					<a href="az.html">Azerbaijan</a><br>
					</br>
					<h3>B</h3>
					<a href="bs.html">Bahamas</a><br>
					<a href="bh.html">Bahrain</a><br>
					<a href="bd.html">Bangladesh</a><br>
					<a href="bb.html">Barbados</a><br>
					<a href="by.html">Belarus</a><br>
					<a href="be.html">Belgium</a><br>
					<a href="bz.html">Belize</a><br>
					<a href="bj.html">Benin</a><br>
					<a href="bm.html">Bermuda</a><br>
					<a href="bt.html">Bhutan</a><br>
					<a href="bo.html">Bolivia</a><br>
					<a href="bq.html">Bonaire, Saint Eustatius and Saba</a><br>
					<a href="ba.html">Bosnia and Herzegovina</a><br>
					<a href="bw.html">Botswana</a><br>
				</div><!-- div.cell -->
				<div class="cell">
					<a href="br.html">Brazil</a><br>
					<a href="vg.html">British Virgin Islands</a><br>
					<a href="bn.html">Brunei Darussalam</a><br>
					<a href="bg.html">Bulgaria</a><br>
					<a href="bf.html">Burkina Faso</a><br>
					<a href="bi.html">Burundi</a><br>
					</br>
					<h3>C</h3>
					<a href="kh.html">Cambodia</a><br>
					<a href="cm.html">Cameroon</a><br>
					<a href="ca.html">Canada</a><br>
					<a href="cv.html">Cape Verde</a><br>
					<a href="jpg11668.html">Cases on an international conveyance Japan</a><br>
					<a href="ky.html">Cayman Islands</a><br>
					<a href="cf.html">Central African Republic</a><br>
					<a href="td.html">Chad</a><br>
					<a href="cl.html">Chile</a><br>
					<a href="cn.html">China</a><br>
					<a href="co.html">Colombia</a><br>
					<a href="cg.html">Congo</a><br>
					<a href="cr.html">Costa Rica</a><br>
					<a href="ci.html">Côte d&apos;Ivoire</a><br>
					<a href="hr.html">Croatia</a><br>
					<a href="cu.html">Cuba</a><br>
					<a href="cw.html">Curaço</a><br>
					<a href="cy.html">Cyprus</a><br>
					<a href="cz.html">Czechia</a><br>
					</br>
					<h3>D</h3>
					<a href="cd.html">Democratic Republic of the Congo</a><br>
				</div><!-- div.cell -->
				<div class="cell">
					<a href="dk.html">Denmark</a><br>
					<a href="dj.html">Djibouti</a><br>
					<a href="dm.html">Dominica</a><br>
					<a href="do.html">Dominican Republic</a><br>
					</br>
					<h3>E</h3>
					<a href="ec.html">Ecuador</a><br>
					<a href="eg.html">Egypt</a><br>
					<a href="sv.html">El Salvador</a><br>
					<a href="gq.html">Equatorial Guinea</a><br>
					<a href="er.html">Eritrea</a><br>
					<a href="ee.html">Estonia</a><br>
					<a href="sz.html">Eswatini</a><br>
					<a href="et.html">Ethiopia</a><br>
					</br>
					<h3>F</h3>
					<a href="fk.html">Falkland Islands (Malvinas)</a><br>
					<a href="fo.html">Faroe Islands</a><br>
					<a href="fj.html">Fiji</a><br>
					<a href="fi.html">Finland</a><br>
					<a href="fr.html">France</a><br>
					<a href="pf.html">French Polynesia</a><br>
					</br>
					<h3>G</h3>
					<a href="ga.html">Gabon</a><br>
					<a href="gm.html">Gambia</a><br>
					<a href="ge.html">Georgia</a><br>
					<a href="de.html">Germany</a><br>
					<a href="gh.html">Ghana</a><br>
					<a href="gi.html">Gibraltar</a><br>
				</div><!-- div.cell -->
				<div class="cell">
					<a href="el.html">Greece</a><br>
					<a href="gl.html">Greenland</a><br>
					<a href="gd.html">Grenada</a><br>
					<a href="gu.html">Guam</a><br>
					<a href="gt.html">Guatemala</a><br>
					<a href="gg.html">Guernsey</a><br>
					<a href="gn.html">Guinea</a><br>
					<a href="gw.html">Guinea Bissau</a><br>
					<a href="gy.html">Guyana</a><br>
					</br>
					<h3>H</h3>
					<a href="ht.html">Haiti</a><br>
					<a href="va.html">Holy See</a><br>
					<a href="hn.html">Honduras</a><br>
					<a href="hu.html">Hungary</a><br>
					</br>
					<h3>I</h3>
					<a href="is.html">Iceland</a><br>
					<a href="in.html">India</a><br>
					<a href="id.html">Indonesia</a><br>
					<a href="ir.html">Iran</a><br>
					<a href="iq.html">Iraq</a><br>
					<a href="ie.html">Ireland</a><br>
					<a href="im.html">Isle of Man</a><br>
					<a href="il.html">Israel</a><br>
					<a href="it.html">Italy</a><br>
					</br>
					<h3>J</h3>
					<a href="jm.html">Jamaica</a><br>
					<a href="jp.html">Japan</a><br>
				</div><!-- div.cell -->
				<div class="cell">
					<a href="je.html">Jersey</a><br>
					<a href="jo.html">Jordan</a><br>
					</br>
					<h3>K</h3>
					<a href="kz.html">Kazakhstan</a><br>
					<a href="ke.html">Kenya</a><br>
					<a href="xk.html">Kosovo</a><br>
					<a href="kw.html">Kuwait</a><br>
					<a href="kg.html">Kyrgyzstan</a><br>
					</br>
					<h3>L</h3>
					<a href="la.html">Laos</a><br>
					<a href="lv.html">Latvia</a><br>
					<a href="lb.html">Lebanon</a><br>
					<a href="lr.html">Liberia</a><br>
					<a href="ly.html">Libya</a><br>
					<a href="li.html">Liechtenstein</a><br>
					<a href="lt.html">Lithuania</a><br>
					<a href="lu.html">Luxembourg</a><br>
					</br>
					<h3>M</h3>
					<a href="mg.html">Madagascar</a><br>
					<a href="mw.html">Malawi</a><br>
					<a href="my.html">Malaysia</a><br>
					<a href="mv.html">Maldives</a><br>
					<a href="ml.html">Mali</a><br>
					<a href="mt.html">Malta</a><br>
					<a href="mr.html">Mauritania</a><br>
					<a href="mu.html">Mauritius</a><br>
					<a href="mx.html">Mexico</a><br>
				</div><!-- div.cell -->
				<div class="cell">
					<a href="md.html">Moldova</a><br>
					<a href="mc.html">Monaco</a><br>
					<a href="mn.html">Mongolia</a><br>
					<a href="me.html">Montenegro</a><br>
					<a href="ms.html">Montserrat</a><br>
					<a href="ma.html">Morocco</a><br>
					<a href="mz.html">Mozambique</a><br>
					<a href="mm.html">Myanmar</a><br>
					</br>
					<h3>N</h3>
					<a href="na.html">Namibia</a><br>
					<a href="np.html">Nepal</a><br>
					<a href="nl.html">Netherlands</a><br>
					<a href="nc.html">New Caledonia</a><br>
					<a href="nz.html">New Zealand</a><br>
					<a href="ni.html">Nicaragua</a><br>
					<a href="ne.html">Niger</a><br>
					<a href="ng.html">Nigeria</a><br>
					<a href="mk.html">North Macedonia</a><br>
					<a href="mp.html">Northern Mariana Islands</a><br>
					<a href="no.html">Norway</a><br>
					</br>
					<h3>O</h3>
					<a href="om.html">Oman</a><br>
					</br>
					<h3>P</h3>
					<a href="pk.html">Pakistan</a><br>
					<a href="ps.html">Palestine</a><br>
					<a href="pa.html">Panama</a><br>
					<a href="pg.html">Papua New Guinea</a><br>
				</div><!-- div.cell -->
				<div class="cell">
					<a href="py.html">Paraguay</a><br>
					<a href="pe.html">Peru</a><br>
					<a href="ph.html">Philippines</a><br>
					<a href="pl.html">Poland</a><br>
					<a href="pt.html">Portugal</a><br>
					<a href="pr.html">Puerto Rico</a><br>
					</br>
					<h3>Q</h3>
					<a href="qa.html">Qatar</a><br>
					</br>
					<h3>R</h3>
					<a href="ro.html">Romania</a><br>
					<a href="ru.html">Russia</a><br>
					<a href="rw.html">Rwanda</a><br>
					</br>
					<h3>S</h3>
					<a href="kn.html">Saint Kitts and Nevis</a><br>
					<a href="lc.html">Saint Lucia</a><br>
					<a href="vc.html">Saint Vincent and the Grenadines</a><br>
					<a href="sm.html">San Marino</a><br>
					<a href="st.html">Sao Tome and Principe</a><br>
					<a href="sa.html">Saudi Arabia</a><br>
					<a href="sn.html">Senegal</a><br>
					<a href="rs.html">Serbia</a><br>
					<a href="sc.html">Seychelles</a><br>
					<a href="sl.html">Sierra Leone</a><br>
					<a href="sg.html">Singapore</a><br>
					<a href="sx.html">Sint Maarten</a><br>
					<a href="sk.html">Slovakia</a><br>
					<a href="si.html">Slovenia</a><br>
				</div><!-- div.cell -->
				<div class="cell">
					<a href="so.html">Somalia</a><br>
					<a href="za.html">South Africa</a><br>
					<a href="kr.html">South Korea</a><br>
					<a href="ss.html">South Sudan</a><br>
					<a href="es.html">Spain</a><br>
					<a href="lk.html">Sri Lanka</a><br>
					<a href="sd.html">Sudan</a><br>
					<a href="sr.html">Suriname</a><br>
					<a href="se.html">Sweden</a><br>
					<a href="ch.html">Switzerland</a><br>
					<a href="sy.html">Syria</a><br>
					</br>
					<h3>T</h3>
					<a href="tw.html">Taiwan</a><br>
					<a href="th.html">Thailand</a><br>
					<a href="tl.html">Timor Leste</a><br>
					<a href="tg.html">Togo</a><br>
					<a href="tt.html">Trinidad and Tobago</a><br>
					<a href="tn.html">Tunisia</a><br>
					<a href="tr.html">Turkey</a><br>
					<a href="tc.html">Turks and Caicos islands</a><br>
					</br>
					<h3>U</h3>
					<a href="ug.html">Uganda</a><br>
					<a href="ua.html">Ukraine</a><br>
					<a href="ae.html">United Arab Emirates</a><br>
					<a href="uk.html">United Kingdom</a><br>
					<a href="tz.html">United Republic of Tanzania</a><br>
					<a href="vi.html">United States Virgin Islands</a><br>
					<a href="us.html">United States of America</a><br>
				</div><!-- div.cell -->
				<div class="cell">
					<a href="uy.html">Uruguay</a><br>
					<a href="uz.html">Uzbekistan</a><br>
					</br>
					<h3>V</h3>
					<a href="ve.html">Venezuela</a><br>
					<a href="vn.html">Vietnam</a><br>
					</br>
					<h3>W</h3>
					<a href="ww.html">Worldwide</a><br>
					</br>
					<h3>Y</h3>
					<a href="ye.html">Yemen</a><br>
					</br>
					<h3>Z</h3>
					<a href="zm.html">Zambia</a><br>
					<a href="zw.html">Zimbabwe</a><br>
			</div><!-- div.table-row -->
		</div><!-- div#content -->
	</body>
</html>
